.index {
	background-image: url("../img/blog.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.title {
	font-size: 50px;
	font-style: italic;
}

.category {
	font-size: 35px;
	font-style: oblique;
}

.content {
	font-size: 20px;
	font-style: normal;
}