<body class="myspace">

<form action="/logout" method="post">
	<input type="submit" value="Logout">
</form>

<form action="/destroy_user" method="post">
	<input type="submit" value="Delete your account">
</form>

<div>
	<a href="/users" style="background-color: beige">Go to all users</a>
</div>

<form action="/edit_user" method="post">
<p class="toblog">Want to edit your account?</p>
	<input type="text" name="password" placeholder="Password">
	<input type="text" name="city"	placeholder="city">
	<input type="text" name="school" placeholder="school">
	<input type="submit" />
</form>

<div>
<p class="profile">What's your name:</p>
<%= @user.username %> <%= @user.id %>
</div>

<div>
<p class="profile">What city you rep:</p>
<%= @user.city %>
</div>

<div>
<p class="profile">Last school:</p>
<%= @user.school %>
</div>



<form action="/profile" method="post">
<p class="toblog">What's on your mind??</p>
		<input type="text" name="title"
		placeholder = "Title" >
		
		<input type="text" name="category"
		placeholder="Category">	
		<input type="text" name="content"
		placeholder="Content">
		<input type="submit">
</form>
