<body class="wrong">

<div class="incorrect">You have entered an incorrect name and password combination...</div>

<form action="/login" method="post">
	<input type="text" name="username" placeholder="Username">
	<input type="text" name="password" placeholder="Password">
	<input type="submit" />
</form>